mixin nav-content()
  ul
    li: a(href="#about") Home
    li: a(href="#articles") Articles
    li: a(href="#package") Package
    li: a(href="#poster") Poster
    li: a(href="#editorial") Editorial
    li: a(href="#youtube") Advertise
    li: a(href="#app") App
    li: a(href="#contact") Contact

.mobile-nav
  +nav-content()

header
  .header-position
    h1.logo Zalhan

    nav.site-nav
      +nav-content()
    
    a(href="mailto:travisneilson@gmail.com").email-link +email me
    
    .mobile-nav-toggle: span
