mixin design-img(img, color)
	a(data-color="#{color}").design-img-link
		img(src="assets/img/zicon/#{img}")

section.icon#icon
	.flex.flex--center
			
		.col-50.flex.flex--center
			.col-1
				.desc-wrap
					p.home-lead.outdented Icon design	

					p.home-explain 사용자가 아이콘을 쉽게 인지할 수 있도록 컬러와 픽토그램을 활용하여 아이콘을 제작했다. 라인을 두껍게하여 심플한 느낌을 주었, 뷰티와 성형의 호감도를 높여 사용자가 편하게 질문 할 수 있도록 유도했다.
				.cf

		.col-50.flex.flex--center.behance(data-orig-color="#F6F6F6")
			.col-10
				// p.home-lead Icon design				
				+design-img('icon01.png', '#E7E6F6')
				+design-img('icon02.png', '#F6E2E5')
				+design-img('icon03.png', '#FFF7CC')
				+design-img('icon04.png', '#FFF2E7')
				+design-img('icon05.png', '#FFE6CA')
				+design-img('icon06.png', '#F5D6D0')
				+design-img('icon07.png', '#E4C4F4')
				+design-img('icon08.png', '#FFE299')
				// +design-img('icon09.png', '#FFD6EC')
				+design-img('icon10.png', '#FFAEA5')
				+design-img('icon13.png', 'white')
				.cf