section.articles#articles
	.flex.flex--center
		
		//- 모바일로 변했을때 아래로 내려감
		.col-50.flex.flex--center.order-first
			.col-1
				.desc-wrap
					p.home-lead.outdented Design artwork

					p.home-explain 탁구의 역동적인 느낌과 형태를 상징화하여 표현했다. 탁구라켓과 탁구대라인, 공의 움직임을 시각화하고 패턴화해서 탁구의 매력을 나타낼 수 있도록 진행했다.

		.col-50.flex--center
			.article-wrap
				{% for post in site.posts limit: 12 %}
				a(style="background-image: url(assets/img/posts/thumbnails/{{post.thumbnail}})").article-thumb
					.article-meta
						.name {{post.title}}
						.date {{post.date | date: "%b %d, %Y"}}
				{% endfor %}
