section.youtube#youtube
	.flex.flex--space-around		
		
		.col-1
			.video-strip
			.flex-video <iframe width="560" height="315" src="https://www.youtube.com/embed/SooDIV3tmlw" frameborder="0" allowfullscreen></iframe>
	

		.col-1.order-first
			p.home-lead.outdented 영상광고 디자인
			a(href="http://youtube.com/devtipsfordesigners").home-cta Watch on YouTube