section.articles2#articles2
	.flex.flex--center
		
		.col-50.flex--center.order-first
			.article-wrap
				{% for post in site.posts limit: 8 %}
				a(style="background-image: url(assets/img/posts/packages/{{post.thumbnail}})").article-thumb
					.article-meta
						.name {{post.title}}
						.date {{post.date | date: "%b %d, %Y"}}
				{% endfor %}			

		//- 모바일로 변했을때 아래로 내려감
		.col-50.flex.flex--center
			.col-1
				.desc-wrap
					p.home-lead.outdented Package design with Table Tennis
