section.notes
	.flex.flex--center
		.col-2
			p.home-lead ...sending email note...

			.notes-signup-box (form)

	.flex.flex--center
		.col-1
			p Notes are weekly email messages that come directly to your inbox. Most of the notes I send will never be available anywhere else. You should sign up.
		
		.col-1
			p A small selection of previous notes that I’ve made public...