section.poster#poster
	.flex.flex--center
		.col-50.flex.flex--center.poster1
			.col-1
				// p.home-lead
				img(src="assets/img/poster.jpg").design-img-copy
				.cf
				
		.col-50.flex.flex--center.poster2
			.col-1
				// p.home-lead
				img(src="assets/img/poster1.jpg").design-img-copy
				.cf