.home-wrap
	display: flex
	// 요소의 width값이 min-height보다 작아지는걸 방지함
	// 100vom Hundert/ 최소값은 height의 1/100 값이다.
	min-height: 100vh

	//display는 기본적으로 inline속성
	//inline은 옆으로 나열되기 때문에 메뉴바가 위로 올라가지 않음
	//width가 775px이하로 내려가면 block속성이 적용되어
	//메뉴바가 위로 올라가게 된다, 모바일 대응
	@media (max-width: 775px)
		display: block

.home-sections
	flex: 1

	section
		padding: 50px 0


	// flex classes
	// 주석도 라인맞춰야하나봐..
	.flex
		display: flex
		flex-direction: rows

	.flex--center	
		justify-content: center			

	.flex--space-around
		justify-content: space-around
		//column의 순서를 바꿈 
		//화면이 작아질때 column의 위치
	.order-first
		order: -1	


//column
.col-1
	//아......
	//max-width: 300px
	width: 300px
	margin: 0 10px
	box-sizing: border-box

.push-right
	margin-left: 330px
				
.col-2
	max-width: 620px
	margin: 0 10px

.col-50
	width: 50%


@media (max-width: 640px)
	.home-sections .flex
		display: block

	.col-1
		width: 100%	

	.col-50
		width: auto

	.push-right
		margin-left: 0



// Typography
.home-lead
	line-height: 1.1
	font-size: 36px	
	

	&.outdented
		text-indent: -0.8em

@media (max-width: 640px)
	.home-lead
		text-align: center

		&.outdented
			text-indent: 0






