@import "0-tools/font";
@import "0-tools/bourbon/bourbon";
@import "0-tools/normalize";

@import "1-base/vars";
@import "1-base/base";
@import "1-base/buttons";

@import "2-modules/flex-video";

@import "3-sections/header";
@import "3-sections/home-about";
@import "3-sections/home-youtube";
@import "3-sections/home-editorial";
@import "3-sections/home-poster";
@import "3-sections/home-articles";
@import "3-sections/home-package";
@import "3-sections/home-icon";
@import "3-sections/home-app2";
@import "3-sections/home-notes";
@import "3-sections/home-footer";

@import "4-layouts/home";
