section.about
	background: 
		image: url(../img/um.png)
		position: center bottom
		//이미지사이즈를 크기에 맞춰줌
		size: cover

	h2
		color: #3f3f42
		font:
			size: 60px
			weight: 400
		line-height: 1
		margin-left: -128px
		margin-top: 0

	.home-lead
		padding-bottom: 150px

@media (max-width: 640px)
	section.about
		h2, .home-lead
			margin-left: auto
			margin-right: auto
			max-width: 300px