section.notes
	background:
		image: url(../img/notes-bg.jpg)
		size: cover
		position: center
	color: white
	height: 300px

	.home-lead
		margin-top: 10px

	.col-1
		padding-left: 30px
		font-size: 18px
		line-height: 1.8
		margin-top: 30px
		padding-right: 30px
		&:first-child
			padding-left: 0
			padding-right: 30px
			text-align: center
			border-right: solid 2px white

		@media (max-width: 640px)
			padding: 0 10px

			&:first-child
				padding: 0 10px
				text-align: left
				border: none