.home-sections .poster
  padding: 0px

  section.poster
    color: white

  .home-lead
    text-align: center
    font-size: 35px
    margin-bottom: 40px

  .poster1
    background:
      // color: #E0EAA4
      image: url(/assets/img/bgb.png)
      position: center
      size: cover
    padding: 100px 0

    @media (max-width: 640px)
      display: none

  .poster2
    background:
      // color: #1769ff
      image: url(/assets/img/bgb.png)
      position: center
      size: cover
    padding: 100px 0

    @media (max-width: 640px)
      padding: 100px 0px 100px 0px
  
  .home-cta
    font-size: 24px
    color: #ea4c89

  .design-img-copy
    display: block
    width: calc(100% - 14px)
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2)
    margin: 5px

  .cf
    clear: both
    // margin-bottom: 20px